@font-face {
    font-family: "OpenSans";
    src: url(./fonts/OpenSans/OpenSans-Regular.eot) format("embedded-opentype"),
        url(./fonts/OpenSans/OpenSans-Regular.ttf) format("truetype"),
        url(./fonts/OpenSans/OpenSans-Regular.woff) format("woff");
}

@font-face {
    font-family: "GothamPro-Bold";
    src: url(./fonts/GothamPro/GothamPro-Bold.eot) format("embedded-opentype"),
        url(./fonts/GothamPro/GothamPro-Bold.ttf) format("truetype"),
        url(./fonts/Gothampro/GothamPro-Bold.woff) format("woff");
}

@font-face {
    font-family: "Coustard";
    src: url(./fonts/Coustard-Regular.ttf) format("truetype");
}

body {
    background-color: rgb(211, 217, 236);

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 320px;
    margin: 0 auto;
    border: 1px solid;
}

ul {
    list-style: none;
 
 }
 
 a {
     text-decoration: none;
     color: black;
 }

 .header_wrapper {
     position: fixed;
     background: wheat;
     width: 100%;
     top: -50px;
     z-index: 100;
 }

 .header_nav {
     display: flex;
     flex-flow: column;
     margin: 0 20px;
     padding: 55px;
 }

 .logo {
     text-transform: capitalize;
     font-size: 16px;
     padding-top: 38px;
     position: relative;
 }

 .logo::before {
    content: "";
    position: absolute;
    background: url(./images/icons/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: yellow;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    left: -50px;
    top: 24px;
 }

 .logo span {
     text-transform: uppercase;
     font-weight: bold;
 }

 .menu {
     padding: 26px 0;
 }

 .menu li:last-child {
    position: relative;
 }

 .menu li:last-child::before {
    position: absolute;
    content: "";
    background: url(./images/icons/viber.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    top: 0px;
    left: -22px;
}

    .s1 {
        padding-top: 400px;
        padding-left: 20px;
        background: #535353 url(./images/background.png);
        background-size: cover;
        background-blend-mode: soft-light;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        color: white;
 }

.s1_title {
    font-size: 35px;
    font-family: "GothamPro-Bold";
    padding-right: 148px;
}

section {
    padding-top: 200px;
}

  .s1_list {
      padding-top: 24px;
      padding-bottom: 80px;
  }

  .s1_list-item {
    font-size: 14px;
    padding-left: 24px;
    position: relative;
    margin-bottom: 10px;
}

.s1_list-item::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background: url(./images/icons/star.png);
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
}

.s1_list-item span {
    color: #ffe100;
}

.s1_bottom-arrow {
    transform: rotate(90deg);
    color: #ffe100;
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin: auto;
    padding-right: 54px;
}

.s2 {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.s2_title {
    display: block;
    text-align: center;
    font-size: 26px;
    font-family: "GothamPro-Bold";
    padding: 64px 25px 0px;
    margin-bottom: 74px;
}

.s2_list {
    padding-bottom: 12px;
}

.s2_list-item {
    width: 170px;
    height: 170px;
    border: 6px double yellow;
    margin-bottom: 60px;
    position: relative;
}

.s2_list-item::before {
    content: "";
    position: absolute;
    width: 86px;
    height: 86px;
    background-color: yellow;
    border-radius: 50%;
    top: -29%;
    left: 23%;
}

.s2_list-item:nth-child(1)::before {
    background: yellow url(./images/icons/icon.png);
    background-position: center;
    background-repeat: no-repeat;
}

.s2_list-item:nth-child(2)::before {
    background: yellow url(./images/icons/icon1.png);
    background-position: center;
    background-repeat: no-repeat;
}

.s2_list-item:nth-child(3)::before {
    background: yellow url(./images/icons/icon2.png);
    background-position: center;
    background-repeat: no-repeat;
}

.s2_list-item:nth-child(4)::before {
    background: yellow url(./images/icons/icon3.png);
    background-position: center;
    background-repeat: no-repeat;
}

.s2_list-item p {
    display: block;
    text-align: center;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

.s2_list-item p:first-child {
    padding-top: 40px;
}

.s3 {
    display: flex;
    flex-flow: row;
    justify-content: center;
    background:  #535353 url(./images/background.png);
    background-blend-mode: soft-light;
    width: auto;
    padding: 100px 0;
}

.amt-carousel-hider {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    width: 320px;
    overflow: hidden;
}

.amt-carousel-list {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    width: auto;
}

.amt-carousel-element {
    margin: 20px;
}

.amt-carousel-element img {
    width: 280px;
    height: 230px;
    border: 15px solid;
}

.amt-carousel-element p {
    font-size: 16px;
    font-weight: bold;
    padding-left: 50px;
    margin-top: 16px;
    position: relative;
}

.amt-carousel-element p::before {
    position: absolute;
    content: "";
    width: 38px;
    border: 1px solid yellow;
    top: 10px;
    left: 0px;
    background-color: yellow;
}

.s4 {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.s4_title {
    position: relative;
    padding-top: 116px 20px 0px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
    font-family: "GothamPro-Bold";
}

.s4_title::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 37px;
    background: url(./images/icons/icon4.png);
    background-position: center;
    background-repeat: no-repeat;
    top: -50%;
    left: 43%;
}

.s4_list {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 38px 20px 68px 75px;
    position: relative;
}

.s4_list::before {
    position: absolute;
    content: "";
    height: 60%;
    border: 2px solid yellow;
    top: 15%;
    left: 12%;
}

.s4_lost-item {
    line-height: 30px;
}

.s4_list-item:last-child {
    display: none;
}

 .footer_wrapper {
     width: 100%;
     background-color: black;

 }

 footer {
    color: gray;
    padding: 24px 0;
 }

 footer p{
     font-size: 12px;
     text-align: center;
 }